/*NAV BAR CSS*/
.container-header {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;   
}
#barraDeNavegacion {
    height: 35px;
    opacity: 75%;
    background-color:#393e46;
    width: 100vw;
}
.nav-item{
    padding-left:50px;
    font-weight:100;
}
.options{
    padding-left:10%;;
}
.buscador{
    padding-left: 75px;
}
#barraBusqueda{
    width:400px;
}
.bi-music-note-list{
    margin-top:4px;
    margin-right:20px;
    margin-left: 20px;
    height: 30px;
    width: 30px;
    float: left;
    color: beige;
}
.bi-search{
    margin-left: 20px;
    margin-top:4px;
    height: 30px;
    width: 30px;
    float: left;
    color: beige;
}
/*Cierro CSS NAVBAR*/