*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*HEADER CSS*/
.container-header {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;   
}
.logoNombre{
    display: flex;
    align-items: center;
}
.logotipo{
    font-size:25px;
    color: white;
    margin-right:10px;
    margin-left:10px;   
}
.navbar-brand{
    padding-left: 5px;
    font-size: 25px;
}
#barraDeNavegacion {
    height: 35px;
}
.nav-item{
    padding-left:30px;
    font-weight: 100;
}
.options{
    padding-left:10%;
}
.btn-secondary:hover {
    text-decoration: underline;
<<<<<<< HEAD
}
.busqueda{
    display: flex;
    align-items: center;
}
=======
}
.busqueda{
    display: flex;
    align-items: center;
}
>>>>>>> 57edee3fb3a5cffcc16e4a04808d2d2569ff9568
.buscador {
    padding-left:75px;
    /*border: solid violet 2px;
    margin: auto;*/
}
#barraBusqueda{
    width:400px;
    margin: auto;
}
.lupa{
    font-size: 25px;
    color: white;
    margin-left:10px;
}
/*Cierro CSS HEADER*/

/*INICIO CSS SIDEBAR*/
.sidebar {
    background-color: #343a40;
    text-align: center;
    width: 280px;
    height: 100%;
}
#sidebarFija ul li{
    font-size: 100;
    color: white;
    list-style-type: none;
    margin: 5px;
    padding-top: 5px;
    padding-bottom: 10px;
}
.fotoPerfil {
    height: 170px;
    width: 170px;
    border-radius: 90%;
}
ul{
    margin-top: 15px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}
.map{
    margin-top: 20px;
    margin-bottom: 20px;
    height:204px;
    width: 128px;
<<<<<<< HEAD
}
/*cierro css sidebar*/
/*Aside*/
.div-aside {
    border: solid 2px grey;
    background-color: #04BFBF;
}
.destacados {
    color: #ffffff;
    text-align: center;
}


/*Footer*/
footer {
  background-color: #393e46;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
}
.container-footer {
  padding-top: 7px;
}
.container-footer .social-icons a {
  margin-left: 20px;
}

/* Media Queries*/


/* Footer */

@media only screen and (max-width: 720px) {
  footer {
      position: fixed;
  }  
  .social-icons {
    justify-content: center;
  }
}
=======
}
/*cierro css sidebar*/
>>>>>>> 57edee3fb3a5cffcc16e4a04808d2d2569ff9568
