*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body {
    background: #fff;
} */

/* Header */
.logoNombre{
    display: flex;
    align-items: center;
    margin-left: 19px;
}
.logotipo{
    font-size:25px;
    color: white;
    margin-right:10px;
    margin-left:10px;   
}
.navbar-brand{
    padding-left: 5px;
    font-size: 25px;
}
#barraDeNavegacion {
    padding-left: 30px;
}
.lista {
    border: none;
}
.lista li {
    display: flex;
}
.lista li a {
    font-size: 20px;
}
.form-inline {
    margin-right: 40px;
}
/* Header */

/* Section */
.container-right {
    border: 1px solid black;
    margin: 20px 60px;
}
.nombre-banda {
    margin: 15px 0;
    padding: 10px 10px;
}
.img-banda img {
    object-fit: cover;
    border-radius: 50%;
    margin-left: 20px;
}
.titulo-banda{
    color: #000;
    padding: 35px 0px 15px 70px;
    text-align: center;
}
.titulo-banda h2,h4 {
    letter-spacing: 2px;
    font-size: 30px;
}
.info-medios {
    margin: 10px 0;
    padding: 15px 15px;
}
.info-banda {
    margin: 40px 0;
    display: flex;
    justify-content: center;
}
.info-banda a {
    color: #000;
    text-align: center;
    width: 100px;
    display: block;
    padding: 15px 0;
    border-radius: 3px;
    font-size: 30px;
    margin: 0 20px;
}
.info-banda .twitter:hover{
    background: #1da1f2;
}
.info-banda .youtube:hover{
    background: #ff0000;
}
.info-banda .instagram:hover{
    background: #f77737;
}
.info-banda .spotify:hover{
    background: #1db954;
}
.container-left {
    border: 1px solid black;
    margin: 20px 30px;
}
.titulo-contenedor {
    display: flex;
    justify-content: space-between;
    margin: 15px auto;
    padding: 15px;
}
.titulo-contenedor .subtitulo, .icon-reloj {
    font-size: 28px;
}
.card-fechas {
    border: 1px #000 solid;
    display: flex;
    font-size: 20px;
    margin: 10px auto;
    padding: 10px;
    justify-content: space-around;
}
.card-fechas .estadio {
    display: inline-block;
    margin-left: 95px;
}
.card-fechas .calendar {
    font-size: 30px;
    margin-right: 10px;
}
.slides {
    margin: 30px auto;
}
/* Footer */
footer {
    background-color: #393e46;
    bottom: 0;
    width: 100%;
    height: 50px;
}
/* 04BFBF */
.container-footer {
    padding-top: 7px;
}
.container-footer .social-icons a {
    margin-left: 20px;
}
  

/* Media Queries*/
@media only screen and (max-width: 960px) { 

    /* Navbar */
    .lista li a {
        margin: 5px auto;
        font-size: 20px;
        width: 100%;
    }
    .form-inline {
        margin: 5px auto;
    }
    .form-inline button {
        margin-top: 10px;
        width: 100%;
    }

    /* Section */
    .container-right {
        margin: 20px auto;
    }
    .nombre-banda {
        margin: 5px;
    }
    .img-banda {
        margin-left: 70px;
    }
    .titulo-banda {
        margin-left: 10px;
    }
    .info-medios {
        margin: 5px auto;
    }
    .info-medios iframe {
        width: 350px;
        height: 300px;
    }
    .info-banda {
        margin: 20px auto;
    }
    .container-left {
        margin: 20px auto;
    }

    /* Footer */
    .social-icons {
        justify-content: center;
    }
}