* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: gray;
}
/*HEADER CSS*/
.logoNombre{
    display: flex;
    align-items: center;
    margin-left: 19px;
}
.logotipo{
    font-size:25px;
    color: white;
    margin-right:10px;
    margin-left:10px;   
}
.navbar-brand{
    padding-left: 5px;
    font-size: 25px;
}
#barraDeNavegacion {
    padding-left: 30px;
}
.lista {
    border: none;
}
.lista li {
    display: flex;
}
.lista li a {
    font-size: 20px;
}
.form-inline {
    margin-right: 40px;
}
/*Cierro CSS HEADER*/
.bloqueDeImagen {
    background-color: black;
    /*opacity: 60%;*/
    border: solid 10px royalblue;
    width: 1050px;
    height: 300px;
    margin-top: 50px;
    margin-right: 150px; 
    margin-left: 100px;
    border-radius: 20px;
}
.bloqueDeInformacion {
    background-color: black;
    opacity: 60%;
    border: solid 10px royalblue;
    width: 800px;
    height: 250px;
    margin-top: 20px;
    margin-left: 100px;
    margin-bottom: 30px;
    display: inline-block;
    position: relative;
    border-radius: 15px;
}
.bloqueTitulo {
    background-color: white;
    width: 560px;
    height: 200px;
    margin-top: 15px;
    display: inline-block;
    position: relative;
    text-align: center;
    justify-content: center;
}
.titulo{
    text-align: center;
    justify-content: center;
}
.descripcion{
    text-align: center;
    justify-content: center;
}
.banda {
    background-color: darkgrey;
    width: 150px;
    height: 200px;
    margin-top: 15px;
    margin-left: 20px;
    display: inline-block;
    position: relative;
}
.circuloBanda{
    width: 100px;
    height: 100px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 100%;
    background-color: white;
}
.infoBanda{
    margin-top: 15px;
    text-align: center;
    justify-content: center;
}
.bloqueDeBotones {
    background-color: blue;
    width: 225px;
    height: 250px;
    margin-top: 20px;
    margin-right: 150px; 
    margin-left: 25px;
    margin-bottom: 30px;
    display: inline-block;
    position: absolute;
    border-radius: 15px;
}
.BloqueBotones{
    background-color: white;
    width: 185px;
    height: 60px;
    margin-top: 18px;
    margin-left:6px
}

/*Footer*/
footer {
  background-color: #393e46;
  bottom: 0;
  width: 100%;
  height: 50px;
}
/* Footer */
@media only screen and (max-width: 720px) { 
    .social-icons {
        justify-content: center;
    }
}