*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    clear: both;
}
/*HEADER CSS*/
.logoNombre{
    display: flex;
    align-items: center;
    margin-left: 19px;
}
.logotipo{
    font-size:25px;
    color: white;
    margin-right:10px;
    margin-left:10px;   
}
.navbar-brand{
    padding-left: 5px;
    font-size: 25px;
}
#barraDeNavegacion {
    padding-left: 30px;
}
.lista {
    border: none;
}
.lista li {
    display: flex;
}
.lista li a {
    font-size: 20px;
}
.form-inline {
    margin-right: 40px;
}
/*Cierro CSS HEADER*/

/*INICIO CSS SIDEBAR*/
.sidebar {
    background-color: #343a40;
    text-align: center;
    width: 280px;
    height: auto;
}
#sidebarFija a {
    list-style: none;
    text-decoration: none;
}
#sidebarFija ul li{
    font-size: 100;
    color: white;
    list-style-type: none;
    margin: 5px;
    padding-top: 5px;
    padding-bottom: 10px;
}
#sidebarFija ul li:hover {
    border-bottom: 2px solid #ffffff;
}
.fotoPerfil {
    height: 170px;
    width: 170px;
    border-radius: 90%;
}
ul{
    margin-top: 15px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}
.dropdown {
    display: none;
}
.map{
    margin-top: 20px;
    margin-bottom: 20px;
    height:204px;
    width: 128px;
}
/*cierro css sidebar*/

/* Main */
.container-main {
    border: 2px solid grey;
    margin-top: 10px;
    margin: 10px 0px 10px 50px;
}
.lista-main {
    display: flex;
    justify-content: center;
}
.lista-main a {
    display: inline-block;
    list-style: none;
    text-decoration: none;
    color: #000;
    margin: 0 30px;
    border: 2px solid #000;
    padding: 10px 45px;
    border-radius: 10%;
}
.lista-main a:hover {
    background: #343a40;
    color: #fff;
}
.band-card {
    border: 2px solid grey;
    margin: 20px 0;
    padding: 20px 0;
}
.band-card .cards-profile {
    text-align: center;
}
.boton-cards {
    margin-top: 10px;
}
textarea {
    width: 340px;
    min-height: 120px;
    max-height: 120px;
    border-radius: 10px;
}

/*Aside*/
.div-aside {
    border: solid 2px grey;
    margin: 10px 6px 10px 50px;
}
.div-aside .titulo-aside {
    display: flex;
    justify-content: space-around;
    font-size: 25px;
    align-items: center;
}
.destacados {
    color: #ffffff;
    text-align: center;
}
.bands {
    border: 1px solid grey;
    margin: 10px 0px;
    padding: 20px 0px;
}
.div-aside .banda1 img {
    margin-left: 20px;
}
.div-aside .banda1 span {
    display: inline-block;
    font-size: 20px;
    margin-left: 70px;
}
.bands i {
    margin-right: 10px;
    float: right;
    font-size: 30px;
}
h6 {
    margin: 10px 0px;
    font-size: 25px;
    text-align: center;
}

/*Footer*/
footer {
  background-color: #393e46;
  bottom: 0;
  width: 100%;
  height: 50px;
}
/* 04BFBF */
.container-footer {
  padding-top: 7px;
}
.container-footer .social-icons a {
  margin-left: 20px;
}

/* Media Queries*/
@media only screen and (max-width: 960px) { 

    /* Navbar */
    .lista li a {
        margin: 5px auto;
        font-size: 20px;
        width: 100%;
    }
    .form-inline {
        margin: 5px auto;
    }
    .form-inline button {
        margin-top: 10px;
        width: 100%;
    }

    /* Main */
    #sidebarFija ul {
        display: none;
    }
    #sidebarFija .dropdown {
        margin: 20px auto;
        display: block;
    }
    #sidebarFija .map {
        display: none;
    }
    .lista-main a {
        color: #000;
        margin: 0 10px;
        border: 2px solid #000;
        padding: 10px 30px;
        border-radius: 10%;
    }
    .lista-main a:hover {
        background: #343a40;
        color: #fff;
    }
    .container-main .band-card .card-1,
    .card-2, .card-3 {
        margin: 0px 5px;
    }
    .container-main, .div-aside {
        margin: 10px 0px 10px 0px;
    }

    /* Aside */
    .div-aside .banda1 span { 
        margin-left: 50px;
    }
    .div-aside .bands img {
        display: block;
        margin: auto;
    }
    .div-aside .bands i {
        margin-right: 30px;
    }

    /* Footer */
    .social-icons {
        justify-content: center;
    }
}
