*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*HEADER CSS*/
.logoNombre{
    display: flex;
    align-items: center;
    margin-left: 19px;
}
.logotipo{
    font-size:25px;
    color: white;
    margin-right:10px;
    margin-left:10px;   
}
.navbar-brand{
    padding-left: 5px;
    font-size: 25px;
}
#barraDeNavegacion {
    padding-left: 30px;
}
.lista {
    border: none;
}
.lista li {
    display: flex;
}
.lista li a {
    font-size: 20px;
}
.form-inline {
    margin-right: 40px;
}
/*Cierro CSS HEADER*/

/*INICIO CSS SIDEBAR*/
.sidebar {
    background-color: #343a40;
    text-align: center;
    width: 280px;
    height: 100%;
}
#sidebarFija ul li{
    font-size: 100;
    color: white;
    list-style-type: none;
    margin: 5px;
    padding-top: 5px;
    padding-bottom: 10px;
}
.fotoPerfil {
    height: 170px;
    width: 170px;
    border-radius: 90%;
}
ul{
    margin-top: 15px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}
.map{
    margin-top: 20px;
    margin-bottom: 20px;
    height:204px;
    width: 128px;
}
/*cierro css sidebar*/

/* Main */
.container-main {
    border: 2px solid grey;
    margin-top: 10px;
    margin: 10px 0px 10px 50px;
}
.lista-main {
    display: flex;
    justify-content: center;
}
.lista-main a {
    display: inline-block;
    list-style: none;
    text-decoration: none;
    margin: 0 50px;
    border-bottom: 2px solid transparent;
}
.lista-main a:hover {
    border-bottom: 2px solid #000000;
}
.band-card {
    border: 2px solid grey;
    margin: 20px 0;
    padding: 20px 0;
}
.boton-cards {
    margin-top: 10px;
}
/*Aside*/
.div-aside {
    border: solid 2px grey;
    margin: 10px 6px 10px 50px;
}
.div-aside .titulo-aside {
    display: flex;
    justify-content: space-around;
    font-size: 25px;
    align-items: center;
}
.destacados {
    color: #ffffff;
    text-align: center;
}
.bands {
    border: 1px solid grey;
    text-align: center;
}


/*Footer*/
footer {
  background-color: #393e46;
  bottom: 0;
  width: 100%;
  height: 50px;
}
/* 04BFBF */
.container-footer {
  padding-top: 7px;
}
.container-footer .social-icons a {
  margin-left: 20px;
}

/* Media Queries*/
/* Navbar */
@media only screen and (max-width: 720px) { 
    .lista li a {
        margin: 5px 0;
        font-size: 20px;
    }
    .form-inline button {
        margin-top: 10px;
    }
}

/* Main */
@media only screen and (max-width: 720px) { 
    .container-main, .div-aside {
        margin: 10px 0px 10px 0px;
    }
}

/* Footer */
@media only screen and (max-width: 720px) { 
    .social-icons {
        justify-content: center;
    }
}